<footer class="footer bg-black small text-center text-white-50">
    <div class="container px-4 px-lg-5">Aplicacion Java creada por: ; <a href="https://danielvidela.000webhostapp.com/index.html" target="_blank1">Daniel Videla</a>
    </div>
</footer>

<!-- <footer class="footer small text-center text-dark-50">
    <div class="container px-4 px-lg-5">Aplicacion Java creada por: ; <a href="https://danielvidela.000webhostapp.com/index.html" target="_blank1">Daniel Videla</a>
    </div>
</footer> -->