<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

  <title>login</title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/fontawesome.css">
  <link rel="stylesheet" href="/css/templatemo-sixteen.css">
  <link rel="stylesheet" href="/css/owl.css">
  <link rel="stylesheet" href="/style.css">

</head>

<body>

  <!-- ***** Preloader Start ***** 
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  ***** Preloader End ***** -->

  <!-- Header -->
  <header class="">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <h2>Libreria <em>Dany</em></h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}">Inicio

              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/libros/lista}">Libros

              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/autores/1}">Autores

              </a>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/}">Registrarse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/login}">Ingresar</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>
  </header>

  <section class="about-section text-center" id="registro">
    <br>
    <div class="background-wrap">
      <div class="background"></div>
    </div>

    <form id="accesspanel" th:action="@{/login}" method="post">
      <h1 id="litheader">INGRESO LIBRERIA DANY </h1>
      <div class="inset">
        <p>
            <input type="text" name="usuario" id="email" placeholder="Usuario" required>
        </p>
        <p>
            <input type="password" name="clave" id="password" placeholder="Contraseña" required>
        </p>
        <div style="text-align: center;">
          <div class="checkboxouter">
            <input type="checkbox" name="rememberme" id="remember" value="Remember">
            <label class="checkbox"></label>
          </div>
          <label for="remember">Recuerdame</label>
        </div>
        <input class="loginLoginValue" type="hidden" name="service" value="login" />
      </div>
      <p class="p-container">
        <input type="submit" name="Login" id="go" value="Authorize">
      </p>
    </form>



    <br>
    <hr>
    <br>


  </section>
  <br>
  <br>











  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


  <!-- Additional Scripts -->
  <script src="/js/custom.js"></script>
  <script src="/js/owl.js"></script>
  <script src="/js/slick.js"></script>
  <script src="/js/isotope.js"></script>
  <script src="/js/accordions.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="/js/script.js"></script>





</body>

</html>
