<!DOCTYPE html>
<html lang="es-AR" xmlns:th="https://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

  <title>Registrar editorial</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


  <!-- Additional CSS Files -->

  <link rel="stylesheet" href="assets/css/fontawesome.css">
  <link rel="stylesheet" href="assets/css/templatemo-sixteen.css">
  <link rel="stylesheet" href="assets/css/owl.css">


</head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="preloader">
    <div class="jumper">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- Header -->
  <header class="masthead text-center text-black">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="index.html">
          <h2>Libreria <em>Dany</em></h2>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu<span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="index.html#carrusell">Inicio

              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/libros/lista}">Libros

              </a>
            </li>
            <li class="nav-item ">
              <a class="nav-link" th:href="@{/autores/lista}">Autores

              </a>
            <li class="nav-item">
              <a class="nav-link" href="index.html#registro">Registrarse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" th:href="@{/login}">Ingresar</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>


<br>


    <div class="masthead-content">
        <div class="container">
            <h3 class="masthead-subheading mb-2">Libreria</h1>
                <br>
                <h2 th:text="${titulo}"></h2>
                <p th:text="${descripcion}"></p>
                <h2 class="masthead-subheading mb-0" th:if="${session.usuariosession != null}" th:text="${session.usuariosession.nombre + ' ' +session.usuariosession.apellido}"></h2>
                <a th:href="@{/usuario/editar-perfil(id=__${session.usuariosession.id}__)}" th:if="${session.usuariosession != null}" class="btn btn-primary btn-xl rounded-pill mt-5">Configura tu perfil</a>
                <a th:href="@{/login}" class="btn btn-primary btn-xl rounded-pill mt-5">Login</a>
        </div>
    </div>
</header>


    <br>
    <hr>
    <br>



    <br>
    <br>










    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>


    <!-- Additional Scripts -->
    <script src="assets/js/custom.js"></script>
    <script src="assets/js/owl.js"></script>
    <script src="assets/js/slick.js"></script>
    <script src="assets/js/isotope.js"></script>
    <script src="assets/js/accordions.js"></script>






</body>

</html>
